body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.mezzo{
  display: inline-block;
}
div.mezzo{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
main > div{
  margin: 1%;
}
.struttura{
  width: 1100px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  margin-top: 3%;
}
header, nav{
  text-align: center;
}
nav{
  background-color: lime;
  padding: 1%;
}
img{
  width: 30%;
}
.barra{
  padding: 1%;
  border-radius: 2px;
}
h1{
  color: lime;
  margin: 0;
}
main{
  color: white;
}
.media{
  width: 20%;
  background-color: orange;
}
.scarica{
  width: 10%;
  background-color: red;
}
.carica{
  background-color: green;
  width: 30%;
}
